html {
    #  font-size: 62.5%;
    font-size: 11px;
}

body {
    font-family: Roboto, Lato,  sans;
    font-size: 1.6rem;
    color: #000;
    /* background-color: #eeeedd; */
    background-color: #D8D8D8;
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  /* text-transform: uppercase; */
  text-transform: smallcaps;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/*--------------------------------------------------------------------------------*/
table {margin: .5rem auto 1.5rem auto;
       width: 98%;}
        /* Thead */
thead th {padding: 0rem .2rem;
	  text-align: left;
	  border-bottom: 2px solid black;
	  font-size: 1.6rem;
	  font-style: normal;
	  font-weight: bold}
thead td {}
/* Tbody */
tbody td {padding: 0rem .2rem;}
tbody th {}

tbody .alt td {}
tbody .alt th {}
/* Tfoot */
tfoot th {}
tfoot td {}

table a {
    text-decoration: none;
}



footer nav {
    text-align: center;
}

.image-container-1col {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    grid-gap: 15px;
    justify-items: center;
}

.image-container-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 15px;
    grid-gap: 15px;
}

.image-container-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    grid-gap: 15px;
}
.image {
    height: 250px;
}

.document-list td {
    border-bottom: 0.1rem solid navy;
}

div.sourceCode {
    background-color: Lavender;
    padding: 10px;    
}


div.csl-entry {
        padding-left: 1.5em;
        text-indent:-1.5em;
	margin-bottom: 6px;
    }

del {
    color: red;
}

div.solution {
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
}
    


/*--------------------------------------------------------------------------------*/


@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 70 rem;
    margin: 0 auto;
    padding: 10;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
